.App {
    text-align: center;
}

.Card {
    background-color: #fff;
    align-self: flex-start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5em;
    padding-bottom: 0.5em;
    width: fit-content;
}

p {
    margin: 0;
    padding: 0;
}